
<md-list-item class="item md-no-style md-clickable" aria-label="row" ng-click="cnContactNetVoiceCardChannelConfiguration.openCard = !cnContactNetVoiceCardChannelConfiguration.openCard">
	<md-icon md-svg-icon="phone" aria-label="Open Chat" class="md-hue-3"></md-icon>
	<span layout-margin flex>Voz</span>
	<md-switch class="md-secondary" ng-model="data.cb1" aria-label="Switch 1">
  </md-switch>

</md-list-item>

<div class="item-card" ng-if="cnContactNetVoiceCardChannelConfiguration.openCard" layout="column" layout-fill>
	<div layout-xs="column" layout-gt-xs="row" ng-show="!loadingCards.length">

		<div flex layout="column" layout-align="space-between" layout-padding>

				<div layout layout="row">
					<md-input-container flex layout-align="center strech">
		        <label>Curso del tráfico</label>
		        <input ng-model="v.trafic">
		      </md-input-container>
				</div>
				<div layout="column">
					<h4>Tráfico entrante</h4>
					<div layout="row" flex layout-wrap layout-align="strech">
						<md-input-container flex="33">
			        <label>Música en espera</label>
			        <input ng-model="v.music">
			      </md-input-container>
			      <md-input-container flex="33">
			        <label>Simulate Audio</label>
			        <input ng-model="v.music">
			      </md-input-container>
			      <md-input-container flex="33">
			        <label>Regla</label>
			        <input ng-model="v.aleatorio">
			      </md-input-container>
			      <md-input-container flex="33">
			        <label>Tiempo Administrativo</label>
			        <input type="number" ng-model="v.administrativeTime">
			      </md-input-container>
			      <md-input-container flex="33">
			        <label>Tiempo medio</label>
			        <input type="number" ng-model="v.mediumTime">
			      </md-input-container>
			      <md-input-container flex="33">
			        <label>Máximo número</label>
			        <input type="number" ng-model="v.maxTime">
			      </md-input-container>
					</div>
				</div>
				<div layout="column">
					<h4 layout="row" ng-click="traficoEntrante = !traficoEntrante" layout-align="start center" class="dropdownClick">
						Configuración avanzada del tráfico entrante
						<div ng-class="{'arrowDown': traficoEntrante, 'arrowUp' : !traficoEntrante}"></div>
					</h4>
					<div layout="row" flex layout-wrap ng-show="traficoEntrante">
						<div flex="25">
							<md-input-container>
				        <label>Comportamiento según disponibilidad</label>
				        <input ng-model="v.disponible">
				      </md-input-container>
						</div>
			      <div layout="row" flex="25" layout-align="center center">
			      	<md-checkbox layout="row" flex ng-model="v.callSelected" ng-change="">
				      	Puede colgar la llamada
				      </md-checkbox>
			      </div>
			      <div layout="row" flex="25" layout-align="center center">
			      	<md-checkbox layout="row" flex ng-model="v.timeoutSelected" ng-change="">
  							TimeOut Dinámico
  						</md-checkbox>
			      </div>
			      <div flex="25">
			      	<md-input-container>
				        <label>Timeout (seg)</label>
				        <input type="number" ng-model="v.time">
				      </md-input-container>
			      </div>
			      <div flex="100" layout="column" layout-padding>
			      	<md-checkbox layout="row" flex ng-model="v.notifications" ng-change="">
				      	Activar notificaciones
				      </md-checkbox>
				      <div ng-show="v.notifications" style="border:1px solid rgba(0,0,0,0.3);" layout-padding layout="row" layout-align="center strech">
					      <div flex="22" layout="row">
									<md-input-container>
						        <label>Tipo de notificación</label>
						        <input ng-model="v.disponible">
						      </md-input-container>
								</div>
					      <div flex="22" layout="row">
									<md-input-container>
						        <label>Seleccionar audio</label>
						        <input ng-model="v.disponible">
						      </md-input-container>
								</div>
					      <div flex="22" layout="row" layout-align="center center">
					      	<md-checkbox layout="row" flex ng-model="v.timeoutSelected" ng-change="">
		  							TimeOut Dinámico
		  						</md-checkbox>
					      </div>
					      <div flex="22" layout="row">
					      	<md-input-container >
						        <label>Frecuencia de aviso</label>
						        <input type="number" ng-model="v.freNot">
						      </md-input-container>
					      </div>
					      <div flex="12" layout="row">
									<md-icon md-svg-icon="phone" aria-label="Open Chat" class="md-hue-3"></md-icon>
					      </div>
				      </div>
			      </div>
			      <div flex="100" layout="column" layout-padding>
			      	<md-checkbox layout="row" flex ng-model="v.quiz" ng-change="">
				      	Activar encuesta
				      </md-checkbox>
				      <div ng-show="v.quiz" style="border:1px solid rgba(0,0,0,0.3);" layout-padding layout="row" layout-align="center center">
					      <div flex="22">
									<md-input-container>
						        <label>Tipo de notificación</label>
						        <input ng-model="v.disponible">
						      </md-input-container>
								</div>
					      <div flex="22">
									<md-input-container>
						        <label>Seleccionar audio</label>
						        <input ng-model="v.disponible">
						      </md-input-container>
								</div>
					      <div layout="row" flex="22" layout-align="center center">
					      	<md-checkbox layout="row" flex ng-model="v.timeoutSelected" ng-change="">
		  							TimeOut Dinámico
		  						</md-checkbox>
					      </div>
					      <div flex="22">
					      	<md-input-container>
						        <label>Frecuencia de aviso</label>
						        <input type="number" ng-model="v.freNot">
						      </md-input-container>
					      </div>
					      <div flex="12">
									<md-icon md-svg-icon="phone" aria-label="Open Chat" class="md-hue-3"></md-icon>
					      </div>
				      </div>
			      </div>
					</div>
				</div>
				<div layout="column">
					<h4 layout-align="start center" class="dropdownClick">
						Tráfico saliente
					</h4>
					<div layout="row" flex layout-wrap>
						<md-input-container flex="50">
			        <label>Seleccionar ANI</label>
			        <input ng-model="v.selectAni">
			      </md-input-container>
			      <md-input-container flex="50">
			        <label>Llamar primero</label>
			        <input ng-model="v.selectAgent">
			      </md-input-container>
			      <md-checkbox layout="row" flex="100" ng-model="v.callSelected" ng-change="" layout-padding>
				      	Grabación de llamadas
				      </md-checkbox>
		        <md-radio-group ng-model="v.group1" layout="row" layout-padding layout-align="center center" flex="50">
			      	<md-radio-button flex="50" value="Al descolgar" layout-padding>Al descolgar</md-radio-button>
			      	<md-radio-button flex="50" value="Bajo demanda" layout-padding>Bajo demanda</md-radio-button>
			      </md-radio-group>
			      <md-input-container flex="50" layout-align="center center">
			        <label>Porcentaje de llamadas a grabar</label>
			        <input ng-model="v.recordCalls">
			      </md-input-container>
		      	<md-checkbox layout="row" flex="100" ng-model="v.comunity" ng-change="" layout-padding>
			      	Comunidad
			      </md-checkbox>
		        <md-input-container flex="50" layout-padding layout-align="center center">
			        <label>Selecciona comunidad</label>
			        <input ng-model="v.city">
			      </md-input-container>
			      <md-input-container flex="50" layout-padding layout-align="center center">
			        <label>Transferencia</label>
			        <input ng-model="v.atendida">
			      </md-input-container>
			      <md-input-container flex="50" layout-padding>
			        <label>Tipos de numeración</label>
			        <input ng-model="v.typeNumeration">
			      </md-input-container>
					</div>
				</div>
				<div layout layout-align="end">
					<md-button ng-click="cnContactNetVoiceCardChannelConfiguration.openCard = false;" class="md-accent md-hue-2">Cancelar</md-button>
					<md-button class="md-accent md-raised md-hue-2">Guardar</md-button>
				</div>

			</div>

		</div>
	</div>

</div>
