
<md-list-item class="item md-no-style md-clickable" aria-label="row" ng-click="ngModel.openCard = !ngModel.openCard" ng-class="{'disable-hover' : !data.cb1}">
	<md-icon md-svg-icon="phone" aria-label="Open Chat" class="md-hue-3"></md-icon>
	<span layout-margin flex>Voz</span>
	<md-switch class="md-secondary enable-hover" ng-model="data.cb1" aria-label="Switch 1" ng-show="!ngModel.openCard">
  </md-switch>

</md-list-item>

<div class="item-card" ng-if="ngModel.openCard" layout="column" layout-fill>
	<div layout-xs="column" layout-gt-xs="row" ng-show="!loadingCards.length">

		<div flex layout="column" layout-align="space-between" layout-padding>

				<div layout layout="row">
					<md-input-container flex layout-align="center strech">
		        <label>Curso del tráfico</label>
		        <!-- Trafico entrante y saliente definir objecto -->
		        <md-select ng-model="v.trafic">
		        	<md-option value="1">Entrante</md-option>
		        	<md-option value="2">Saliente</md-option>
		        	<md-option value="3">Entrante y Saliente</md-option>
		        </md-select>
		      </md-input-container>
				</div>
				<div layout="column">
					<h4 class="md-body-2">Tráfico entrante</h4>
					<div layout="row" flex layout-wrap layout-align="strech">
						<md-input-container flex="33">
			        <label>Música en espera</label>
			        <md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.moh" ng-change="onSpeechChange(contactnet.contactNetInfo.voiceChannelParams.moh)">
			        	<md-option ng-repeat="(kk,vv) in contactnet.contactNetInfo.voiceChannelParams.speechs track by $index" value="{{vv.id}}">{{vv.description}}</md-option>
			        </md-select>
			      </md-input-container>
			      <div flex="33" layout-align="center center" layout="row">
			      	<div class="audioPlayer" cn-audio src="contactnet.contactNetInfo.voiceChannelParams.moh" layout-align="center center" layout="row" flex="70"></div>
			      	<!-- <audio ng-src="/home/stream/streamspeech?id="></audio> -->
			      </div>
			      <!-- <md-input-container flex="33"> -->
			        <!-- <label>Simulate Audio</label>
			        <input ng-model="v.music1"> -->
			      <!-- </md-input-container> -->
			      <md-input-container flex="33">
			        <label>Regla</label>
			        <md-select ng-model="v.rules">
			        	<md-option ng-repeat="(kk,vv) in contactnet.contactNetInfo.voiceChannelParams.strategies track by $index" value="{{vv.value}}">{{vv.value}}</md-option>
			        </md-select>
			      </md-input-container>
			      <md-input-container flex="50">
			        <label>Tiempo Administrativo</label>
			        <input type="number" ng-model="contactnet.contactNetInfo.voiceChannelParams.wrapupTime">
			      </md-input-container>
			      <md-input-container flex="50">
			        <label>Tiempo medio</label>
			        <input type="number" ng-model="contactnet.contactNetInfo.voiceChannelParams.averageTalkingTime">
			      </md-input-container>
					</div>
				</div>
				<div layout="column">
					<h4 layout="row" ng-click="traficoEntrante = !traficoEntrante" layout-align="start center" class="dropdownClick md-body-2">
						Configuración avanzada del tráfico entrante
						<div ng-class="{'arrowDown': traficoEntrante, 'arrowUp' : !traficoEntrante}"></div>
					</h4>
					<div layout="row" flex layout-wrap ng-show="traficoEntrante">
						<div flex="50">
							<md-input-container flex layout="row">
				        <label>Comportamiento según disponibilidad</label>
				        <md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.joinEmpty" flex>
				        	<md-option value="YES">Si</md-option>
				        	<md-option value="NO">No</md-option>
				        	<md-option value="STRICT">Estricto</md-option>
				        </md-select>
				      </md-input-container>
						</div>
			      <div layout="row" flex="50" layout-align="center center">
			      	<md-checkbox layout="row" flex ng-model="contactnet.contactNetInfo.voiceChannelParams.canHangUp" ng-change="">
				      	Puede colgar la llamada
				      </md-checkbox>
			      </div>
			      <!-- ng-true-value="1" ng-false-value="0" -->
			      <div layout="row" flex="100" layout-align="center center">
			      	<md-checkbox layout="row" flex ng-model="contactnet.contactNetInfo.voiceChannelParams.automaticQueueBuffer" ng-change="">
  							TimeOut Dinámico
  						</md-checkbox>
			      </div>
			      <div flex="100" layout="row" ng-show="contactnet.contactNetInfo.voiceChannelParams.automaticQueueBuffer" layout-padding>
			      	<div flex layout="row">
				      	<md-input-container flex>
					        <label>Timeout (seg)</label>
					        <input type="number" ng-model="contactnet.contactNetInfo.voiceChannelParams.timeOut">
					      </md-input-container>
				      </div>
				      <div flex layout="row">
				      	<md-input-container flex>
					        <label>Máximo número</label>
					        <input type="number" ng-model="contactnet.contactNetInfo.voiceChannelParams.maxlength">
					      </md-input-container>
				      </div>
			      </div>
			      <div flex="100" layout="column">
			      	<md-checkbox layout="row" flex ng-model="v.notifications" ng-change="">
				      	Activar notificaciones
				      </md-checkbox>
				      <div flex="100" layout="column" ng-show="v.notifications">
					      <div flex="100" layout="row">
					      	<md-input-container flex>
						        <label>Frecuencia de aviso</label>
						        <input type="number" ng-model="contactnet.contactNetInfo.voiceChannelParams.advertFrequency">
						      </md-input-container>
					      </div>
					      <div ng-repeat="(kk, vv) in contactnet.contactNetInfo.voiceChannelParams.notifications track by $index" style="border:1px solid rgba(0,0,0,0.3);" layout-margin layout="row" layout-align="center strech" ng-init="v.order = kk">
						      <div flex="30" layout="row">
										<md-input-container flex>
							        <label>Tipo de notificación</label>
							        <md-select ng-model="vv.typeNotification" ng-change="onTypeNotificationChange(vv.typeNotification, vv)">
							        	<md-option value="ADVERTISEMENT">Audio</md-option>
							        	<md-option value="QUEUEMEMBER_POSITION">Posición en cola usando TTS</md-option>
							        	<md-option value="QUEUEMEMBER_TIME">Tiempo medio en cola usando TTS</md-option>
							        </md-select>
							      </md-input-container>
									</div>
						      <div flex="30" layout="row">
										<md-input-container flex>
							        <label>Seleccionar audio</label>
							        <md-select ng-model="vv.valueNotification">
							        	<md-option ng-repeat="(kkk, vvv) in vv.selectConfig" value="{{vvv.id}}">{{vvv.description || vvv.label}}</md-option>
							        </md-select>
							      </md-input-container>
									</div>
						      <div flex="30" layout-align="center center" layout="row" ng-if="vv.typeNotification == 'ADVERTISEMENT' && vv.valueNotification">
						      	<div class="audioPlayer" cn-audio src="vv.valueNotification" layout-align="center center" layout="row" flex="70"></div>
						      	<!-- <audio ng-src="/home/stream/streamspeech?id="></audio> -->
						      </div>
						      <div flex="10" layout="row">
										<md-icon ng-click="contactnet.contactNetInfo.voiceChannelParams.notifications.splice(kk, 1)" md-svg-icon="delete" aria-label="delete notification" class="md-hue-3"></md-icon>
						      </div>
					      </div>
					      <p class="md-caption blueVC-color" ng-click="contactnet.contactNetInfo.voiceChannelParams.notifications.push({})">
										Añadir notificación
								</p>
				      </div>
				    </div>
					</div>
				</div>
				<div layout="column">
					<h4 layout-align="start center" class="dropdownClick md-body-2">
						Tráfico saliente
					</h4>
					<div layout="row" flex layout-wrap>
						<md-input-container flex="50">
			        <label>Seleccionar ANI</label>
			        <md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig.ani">
			        	<md-option ng-repeat="(k9, v9) in contactnet.contactNetInfo.voiceChannelParams.ani" value="{{v9.label}}">{{v9.label}}</md-option>
			        </md-select>
			      </md-input-container>
			      <md-input-container flex="50">
			        <label>Llamar primero</label>
        			<md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig.agentFirst">
			        	<md-option value="1">Agente</md-option>
			        	<md-option value="0">Call Center</md-option>
			        </md-select>
			      </md-input-container>
			      <md-input-container flex="50" layout-padding layout-align="center center">
			        <label>Grabación de llamadas</label>
			        <md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig.voiceRecording.mode">
			        	<md-option value="1">Al descolgar</md-option>
			        	<md-option value="2">Bajo demanda</md-option>
			        </md-select>
			      </md-input-container>
			      <md-input-container flex="50" layout-align="center center">
			        <label>Porcentaje de llamadas a grabar</label>
        			<md-select ng-model="v.percentCalls">
			        	<md-option value="1">10%</md-option>
			        	<md-option value="2">25%</md-option>
			        	<md-option value="3">50%</md-option>
			        	<md-option value="4">100%</md-option>
			        </md-select>
			      </md-input-container>
		      	<md-checkbox layout="row" flex="100" ng-model="v.comunity" ng-change="" layout-padding>
			      	Comunidad
			      </md-checkbox>
		        <md-input-container flex="50" layout-padding layout-align="center center">
			        <label>Selecciona comunidad</label>
			        <md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig.shortNumbering.id">
			        	<md-option value="1">Madrid</md-option>
			        	<md-option value="2">Barcelona</md-option>
			        	<md-option value="3">Sevilla</md-option>
			        	<md-option value="4">Valencia</md-option>
			        </md-select>
			      </md-input-container>
			      <md-input-container flex="50">
			        <label>Música en espera</label>
			        <md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig.shortNumbering.moh" ng-change="onSpeechChange(contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig.shortNumbering.moh)">
			        	<md-option ng-repeat="(kk,vv) in contactnet.contactNetInfo.voiceChannelParams.speechs track by $index" value="{{vv.id}}">{{vv.description}}</md-option>
			        </md-select>
			      </md-input-container>
			      <div flex="50" layout-align="center center" layout="row">
			      	<div class="audioPlayer" cn-audio src="contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig.shortNumbering.moh" layout-align="center center" layout="row" flex="70"></div>
			      	<!-- <audio ng-src="/home/stream/streamspeech?id="></audio> -->
			      </div>
			      <md-input-container flex="50" layout-padding layout-align="center center">
			        <label>Transferencia</label>
			        <md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig.shortNumbering.type">
			        	<md-option value="BLIND">Ciega</md-option>
			        	<md-option value="ATTENDED">Atendida</md-option>
			        	<md-option value="BOTH">Ambas</md-option>
			        </md-select>
			      </md-input-container>
<!-- 			      <div ng-repeat="(k4, v4) in contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration.outgoingConfig">
			      	<md-input-container flex="100" layout-padding ng-if="v4.ConfigName == 'SERVICETYPE'">
				        <label>Tipos de numeración</label>
				        <md-select ng-init="v4.ConfigName = 'SERVICETYPE'" ng-model="v4.ConfigValue">
				        	<md-option ng-repeat="(k5, v5) in contactnet.contactNetInfo.voiceChannelParams.outGoing" value="{{v5.id}}">{{v5.label}}</md-option>
				        </md-select>
				      </md-input-container>	
			      </div> -->
<!-- 			      <md-input-container flex="100" layout-padding>
			        <label>Tipos de numeración</label>
			        <md-select ng-model="contactnet.contactNetInfo.voiceChannelParams.outgoingConfiguration">
			        	<md-option value="1">Móvil</md-option>
			        </md-select>
			      </md-input-container> -->
					</div>
				</div>
				<div layout layout-align="end">
					<md-button ng-click="cnContactNetVoiceCardChannelConfiguration.openCard = false;" class="md-accent md-hue-2">Cancelar</md-button>
					<md-button class="md-accent md-raised md-hue-2">Guardar</md-button>
				</div>

			</div>

		</div>
	</div>

</div>
