<md-list-item class="item md-no-style md-clickable" aria-label="row" ng-click="ngOpenCard.openCard = !ngOpenCard.openCard" >
	<span layout-margin flex>{{supervisor.name}}</span>
</md-list-item>

<div class="item-card" ng-if="ngOpenCard.openCard" layout="column">
	<div layout-xs="column" layout-gt-xs="row" layout-padding ng-show="!loadingCards.length">

		<div flex layout="column" layout-align="space-between">
				<md-content class="md-padding autocomplete" layout="column">
					<md-contact-chips
				    ng-model="filterAgents"
				    md-contacts="querySearch($query)"
				    md-contact-name="name"
				    md-contact-image="image"
				    md-contact-email="email"
				    md-require-match="true"
				    md-highlight-flags="i"
				    filter-selected="filterSelected"
				    placeholder="Selecciona los agentes disponibles para este supervisor">
				  </md-contact-chips>
				  <md-list class="fixedRows">
				    <md-subheader class="md-no-sticky">Agentes</md-subheader>
				    <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in agents"
				        ng-if="filterAgents.indexOf(contact) < 0">
				      <img ng-src="{{contact.thumbnail}}" class="md-avatar" alt="{{contact.name}}" />
				      <div class="md-list-item-text compact">
				        <h3>{{contact.name}}</h3>
				        <p>{{contact.email}}</p>
				      </div>
				    </md-list-item>
				    <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in filterAgents">
				      <img ng-src="{{contact.thumbnail}}" class="md-avatar" alt="{{contact.name}}" />
				      <div class="md-list-item-text compact">
				        <h3>{{contact.name}}</h3>
				        <p>{{contact.email}}</p>
				      </div>
				    </md-list-item>
				  </md-list>
				</md-content>
		</div>

	</div>

</div>