$grayText: #616161;
$smokeText: #9b9b9b;
$blueVC: #3cace1;
$cnBackgroundCardsOpen: #ececec;
$cnBackgroundCards : #FFF;


.empty-section{
  background-color: white;
}

.filterSearch {

  width: 100%;
  margin: 1em 0;
  z-index: 1;
  
  top: 0;
  left: 0;
  // -webkit-transition: all 0.2s ease-in-out;
  // -moz-transition: all 0.2s ease-in-out;
  // -o-transition: all 0.2s ease-in-out;
  // transition: all 0.2s ease-in-out;
  // transition-property: width, top;
  transition: all 100ms ease;
  >div {
    padding: 0.5em 1em;
    >input {
      outline: 0;
      border: 0;
      padding: 0.5em 0.5em;
    }
  }

  &:not(.filterSearchExpanded){
    >div {
      margin: 0.5em 1em;
      padding: 0;
      border-bottom: 1px solid white;
      md-icon{
        color: white !important;
      }
      >input {
        color: white;
        background-color: transparent;
      }
    }
  }
}
.filterSearchExpanded, .filterSearch:focus {
  position: fixed;
  margin: 0;
  background: #FFF;
  z-index: 2;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);

  >div {
    max-width: 75%;
    margin: 0 auto;
    >input {
      padding: 0.5em 0.5em;
    }
  }
}

.cardsLayout{

  position: relative;
  background: 0 0;
  z-index: 1;
  max-width: 85%;
  margin: 0 auto;
  padding:10px;

  > section {
    position: relative;
    max-width: 90%;
    padding-bottom: 60px;

    .empty-section{
      text-align: center;

      .planet-size-icon{
        margin-top: 30px;
      }

      .channels-section{
        margin-top: 30px;
        margin-bottom: 30px;

        .big-icon{
          margin: 0 auto 20px;
        }

        p{
          margin:0 auto;
        }
        a{
          font-size: 12px;
          color: $blueVC;
          border: none;
        }
        span{
          color: $smokeText;
        }
      }

      h3{
        font-weight: 300;
        font-size: 20px;
      }
      p{
        font-size: 14px;
        color: $grayText;
      }

    }

    >.md-item{
      transition: all 300ms;
      background: $cnBackgroundCards;

      &:first-child{
        margin-top: 10px;
      }

      md-progress-linear{

        .md-container{
          top: 1px;
          height: 4px;
        }
      }

      .item-card{
      	transition: all, 0.2s, ease;
        // background-color: white;
        will-change: auto;
        visibility: hidden;
        &, & > * {
          max-height: 0;
          opacity: 0;
          transition: all, 0.2s, ease;
        }

        >div{
          //height: 360px;
          &.ng-hide{
            height: 0px;
            display: inherit !important;
            opacity: 0;
            transition: none;
            padding: 0;
          }
        }
        .split {
          padding: 10px;
        }
      }

      &.open-item{
         margin: 30px 0px;
         background: $cnBackgroundCardsOpen;

        @media (min-width:600px){
          margin: 30px -10px;
          background: $cnBackgroundCardsOpen;
        }
        .hText {
          font-size: 1.5em;
        }
        .item-card{
          visibility: visible;
          &, & > * {
            max-height: 4000px;
            opacity: 1;
          }
          .card{
            transition: all 0ms;
          }
        }
      }

      >md-list-item{
        font-size: 0.85rem;
        border-bottom: 1px solid rgba(0,0,0,0.01);
        // background-color: #FFF;
        padding: 0 16px;

        >md-icon{
          margin-top: 5px;
          padding: 8px;

          &:last-of-type{
            margin-right: 64px;
          }
        }

        md-icon{
          pointer-events:none;
        }

        &.selected, &.selected >.md-button{
          background-color: white;
        }

        .md-list-item-text{

          span{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

        }
      }
    }
  }
  .md-subheader{
    padding:0px;
    margin:0px;

    md-icon{
      width: 16px;
      height: 16px;

      &.desc{
        transform: rotate(180deg);
      }
    }
    &:not(.md-sticky-no-effect).md-sticky-clone {
      z-index: 3;
    }
    .md-subheader-inner{
      padding:0;
    }

    .md-subheader-content {

      >div{
        background-color: rgba(0,0,0,0.04);
        padding: 1.6em 16px;
        color: rgba(0,0,0,0.3);

        >div{
          span{
            z-index: 2;
            cursor: pointer;
          }
        }
      }
    }
    &:after{
      right: 0;
    }
  }
}

.cardContainer {
  > div {
    &:first-child {
      border-bottom: 1px solid white;
      >div {
        &:first-child {
          // md-icon {
          //   height: 18px;
          //   width: 18px;
          // }
          input {
            background: transparent;
            outline: 0;
            border: 0;
            padding-left: 10px;
          }
        }
        >div {
          >span {
            white-space: nowrap;
            &:first-child {
              min-width: 22px;
              border-radius: 50% 50%;
              border: 1px solid gray;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.fabButtonCreate {
  position: absolute;
  right: 1em;
  top: calc(100% - 34px);
  z-index: 125125125;
}

.openInnerCard {
  margin: 10px -30px;
}

.md-item {
  transition: all, 0.2s, ease;
  background: $cnBackgroundCards;
  will-change: auto;
}

.divItems {
  padding: 0.6em 2em;
}
