
<div flex layout="column" ng-if="pause_states.length">

  <div class="border-container" layout="row" ng-repeat="(k,v) in pause_states" layout-align="space-between center">
    <md-input-container flex>
      <label>Nombre</label>
      <input ng-model="v.label">
    </md-input-container>
    <md-button class="md-icon-button" aria-label="Delete" ng-click="remove(k)">
      <md-icon md-svg-icon="delete"></md-icon>
    </md-button>
  </div>

  <p class="md-caption blueVC-color" ng-click="addNew()">Añadir skill de agente</p>

</div>


<div class="no-items" flex layout="column" ng-if="!pause_states.length">
  <p>No hay ningun estado de pausa guardado, puedes <span class="blueVC-color" ng-click="addNew()">crear el primero ahora</span></p>
  <p class="md-caption">Los estados de pausa le ayudarán a optimizar su ContactNet</p>
</div>
  