.rightOpen {
  #rightSidebar {
    .agents-open {
      display: table;
      width: 100%;
      height: 100%;
      .title-search {
        .box {
          display: table;
          width: 100%;
          height: 61px;
          a {
            &:nth-child(1) {
              span {
                @media (max-width: 1300px) {
                  display: none;
                }
                @media (max-width: 1400px) {
                  font-size: .8em;
                }
              }
            }
          }
        }

        .search {
          display: inline-block;
          vertical-align: bottom;
          height: 30px;
          padding: 0 15px;
          md-input-container {
            margin-top: 0;
            border-color: $gray-low;
            padding: 0;
            color: $gray-low;
            label {
              color: $gray-low;

            }
            input {
              border-color: $gray-low;
              color: $gray-low;
              font-size: 12px;
              background: url('./assets/img/search-icon-sidebar.png') right center no-repeat;
            }
          }
        }
      }
    }
    .agents {
      display: table;
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      .scroll {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .agents-compare-bar {
      bottom: 2%;
      position: absolute;
      background: #464951;
      width: 100%;
    }
    .agent-data {
      background-color: $secundary;
      position: relative;
      display: table;
      vertical-align: top;
      width: 100%;
      padding-top: 10px;
      -webkit-animation: mfadein 300ms;
      -moz-animation: mfadein 300ms; /* Firefox < 16 */
      -ms-animation: mfadein 300ms; /* Internet Explorer */
      -o-animation: mfadein 300ms; /* Opera < 12.1 */
      animation: mfadein 300ms;
      .row {
        width: 100%;

        &.free {
          span.nopic {
            border: 1px solid $free;
          }
          span.status {
            background: $free;
          }
          span.label-status {
            color: $free;
          }
          .thumbnail {
            a {
              span {
                border: 1px solid $free;
              }
            }
          }
        }
        &.busy {
          span.nopic {
            border: 1px solid $busy;
          }
          span.status {
            background: $busy;
          }
          span.label-status {
            color: $busy;
          }
          .thumbnail {
            a {
              span {
                border: 1px solid $busy;
              }
            }
          }
        }
        &.pause {
          span.nopic {
            border: 1px solid $pause;
          }
          span.status {
            background: $pause;
          }
          span.label-status {
            color: $pause;
          }
          .thumbnail {
            a {
              span {
                border: 1px solid $pause;
              }
            }
          }
        }
        &.offline {
          span.nopic {
            border: 1px solid $offline;
          }
          span.status {
            background: $offline;
          }
          span.label-status {
            color: $offline;
          }
          .thumbnail {
            a {
              span {
                border: 1px solid $offline;
              }
            }
          }
        }
      }

      span.status {
        border-radius: 50%;
        width: 9px;
        height: 9px;
        margin: 4px 6px 0 10px;
        position: absolute;
        right: 8px;
        top: 1px;
      }

      span.label-status {
        position: absolute;
        top: 2px;
        font-size: 10px;
        right: 28px;
        opacity: 0.8;
      }

      .thumbnail-name-status {
        div {
          display: inline-block;
          vertical-align: middle;
        }
        .name-email {
          padding: 0;
          width: calc(100% - 140px);
          vertical-align: middle;
          table-layout: fixed;
          span {
            font-size: .7em;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &.name {
              color: $gray-lowest;
            }
            &.email {
              color: $module-text;
            }
          }
          &:hover {
            .name {
              color: $white;
            }
            .email {
              color: $gray-low;
            }
          }
        }
        .thumbnail {
          width: 55px;
          a {
            display: table-cell;
            img {
              margin: 10px 15px;
            }
            span {
              @extend .nopic;
              margin: 10px 15px;
            }
          }
        }

        .comunication-by {
          width: 75px;
          margin-top: .5em;
          a {
            float: left;
            margin-right: 10px;
            cursor: pointer;
          }

          i {
            color: $secundary-lowest;
            &.active {
              color: $primary-color;
            }
          }

          i:hover {
            color: $inverse-primary;
          }
        }

      }

      .thumbnail-name-status {
        position: relative;
        .box {
          border: 1px;
          width: 100%;
          table-layout: fixed;
        }
      }
      .time-channel-stat {
        .box {
          border: 0;
          display: table;
          width: 100%;
        }
        width: 100%;
        display: table-row;
        div {
          display: table-cell;
          width: 30%;
          padding-left: 3%;
          vertical-align: middle;
          height: 37px;
          p {
            font-size: 0.7em;
            color: $module-text;
            line-height: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

          }
        }

      }
      .sel-channel {
        ul {
          display: table;
          width: 100%;
          height: 31px;
          li {
            float: left;
            width: 25%;
            text-align: center;
            height: 25px;
            box-sizing: border-box;
            border-right: 1px solid $secundary-low;
            vertical-align: top;
            .progress {
              vertical-align: top;
              display: inline-block;
              height: 2px;
              .md-container, .md-bar {
                height: 2px;
                top: 0;
              }
              .md-container {
                background: $secundary;
              }
              .md-bar {
                background: $primary-color-low;
              }
            }
            a {
              color: $inverse-primary;
              font-size: 0.7em;
              display: inline-block;
              background-color: $secundary-low;
              width: 100%;
              height: 36px;
              line-height: 36px;
              text-decoration: none;
              cursor: pointer;
              img, span {

                display: inline-block;
              }
              img {
                margin-right: 5px;
              }
              &:hover, &.active {
                background: $secundary-lowest;
              }
            }
          }
        }
      }
    }
  }
}

@import '_rightScroll';