#rightSidebar{
  .agents-close{
    background: $secundary;
    display: table;
    width:100%;
    height:100%;
    .title{
      width:100%;
      background: $secundary;

      vertical-align: middle;
      text-align: center;
      display: table;
      height: 61px;
      border-bottom: 1px solid $secundary-low;
      .box{
        width:100%;
        text-align: left;
      }
      a{
        display: inline-block;
        padding: 20px 0;
        cursor: pointer;
        &.title, &.search{
          padding: 0;
          width:auto;
          border: 0;
        }
        &.title{
          padding: 20px 0 20px 20px;
          display: inline-block;
          img{
            margin-right:8px;
          }
        }
        &.search{
          padding: 20px 20px 20px 0;
          float:right;
        }
      }

    }
    .rows{
      position: relative;
      display: table;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .scroll{
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .row{
     -webkit-animation: fadein 400ms;
        -moz-animation: fadein 400ms; /* Firefox < 16 */
        -ms-animation: fadein 400ms; /* Internet Explorer */
        -o-animation: fadein 400ms; /* Opera < 12.1 */
        animation: fadein 400ms;
      .center{
        display: table;
        padding: 8px 0;
        text-align: center;
        a{
          display: inline-block;
          position: relative;
          span.status{
            background-color: $offline;
            border-radius: 50%;


            height: 9px;
            margin-right: 5px;
            margin-top: -4px;
            position: absolute;
            width: 9px;
            top: 0;
            right: 0;
            z-index: 10;

          }
        }
      }

      &.free{
       /* background-color: $dark-intensive; */
        span.status{
          background: $free;
        }
        a{
          span.nopic{
            border: 1px solid $free;
          }
          span.status{
            background: $free;
          }
        }
      }
      &.busy{
        span.status{
          background: $busy;
        }
        a{
          span.nopic{
            border: 1px solid $busy;
          }
          span.status{
            background: $busy;
          }
        }
      }
      &.pause{
        span.status{
          background: $pause;
        }
        a{
          span.nopic{
            border: 1px solid $pause;
          }
          span.status{
            background: $pause;
          }
        }
      }
      &.offline{
        span.status{
          background: $offline;
        }
        a{
          span.nopic{
            border: 1px solid $offline;
          }
          span.status{
            background: $offline;
          }
        }
      }
    }
  }
}
