#mainContent {
  .avanced-search {
    height: 0;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    @include transition(height .3s ease-out);
    &.open {
      height: 275px;
      display: table-row;
    }
    .form {
      p:nth-child(1) {
        font-size: 0.8em;
      }
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 10px 0;
      form {
        display: inline-block;
        width: 100%;
        .row {
          letter-spacing: 0;
          word-spacing: 0;
          display: block;
          .md-button {
            float: right;
            background: $primary-color;
            color: $inverse-primary;
            span {
              font-size: 0.9em;
              padding: 0 35px;
            }

          }
          .cell {
            display: inline-block;
            width: 31%;
            padding: 0;
            margin: 0 0 0 2%;
            &:nth-child(1) {
              margin-left: 0;
            }
            .md-select-label {
              width: 100%;
            }
          }
        }
      }

    }
  }
}
