<div id="channels" class="cardsLayout" layout="row" layout-fill layout flex layout-align="center">

	<section flex>

		<div ng-if="$cnChannels.channels.length" class="md-item md-whiteframe-z1" ng-repeat="(k, v) in $cnChannels.channels track by $index" ng-class="{'open-item': v.openCard}">
			<md-list-item class="item" flex aria-label="row" md-ink-ripple class="md-clickable" cn-channel-info="v" cn-open-channels>
				<div flex ng-class="{'hText' : v.downloadedData}">{{v.multimedia}}</div>
				<span flex></span>
				<md-icon ng-if="v.channelId == 1" md-svg-icon="phone" aria-label="Open Chat" class="greenVC-color"></md-icon>
				<md-icon ng-if="v.channelId == 2" md-svg-icon="message" aria-label="Open Chat" class="greenVC-color"></md-icon>
				<md-icon ng-if="v.channelId == 3" md-svg-icon="mail" aria-label="Open Chat" class="greenVC-color"></md-icon>

				<md-menu class="md-secondary" >
					<md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
						<md-icon md-menu-origin md-svg-icon="more_vert"></md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="v.openCard = true">
									<div layout="row">
										<md-icon md-menu-align-target md-svg-icon="edit"></md-icon>
										<p flex>Editar</p>
									</div>
							</md-button>
						</md-menu-item>
						<md-menu-item >
							<md-button ng-disabled="!v.configModificable && false" ng-click="remove(k)">
									<div layout="row">
										<md-icon md-menu-align-target md-svg-icon="delete"></md-icon>
										<p flex>Eliminar</p>
									</div>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>

			</md-list-item>

			<md-progress-linear md-mode="indeterminate" ng-if="v.openCard && !v.downloadedData"></md-progress-linear>

			<div class="item-card" ng-if="v.downloadedData" layout="column" layout-fill>
				<div layout-xs="column" layout-gt-xs="row" layout-padding ng-show="!loadingCards.length">

					<div flex layout="column" layout-align="start">

						<div ng-if="v.channelId == 2" flex layout="column" layout-align="start" ng-include="'/contactNetConfig/modules/channels/partials/chat.html'"></div>

						<div ng-if="v.channelId == 3" flex layout="column" layout-align="start" ng-include="'/contactNetConfig/modules/channels/partials/mail.html'"></div>

						<div flex layout="row" class="action-buttons">
							<span flex></span>
							<md-button class="md-accent md-hue-2" ng-click="v.openCard = false">Cancelar</md-button>
							<span flex="5"></span>
							<md-button ng-disabled="!v.configModificable && false" class="md-accent md-raised md-hue-2" ng-click="save(v)">Guardar</md-button>
						</div>

					</div>

				</div>

			</div>

		</div>


		<div ng-if="!$cnChannels.channels.length  && !loading" class="md-whiteframe-z1 empty-section" layout-padding layout="row" layout-align="center">
			<div flex="80" layout="column">
				<md-icon class="planet-size-icon" style="color:#417505;" md-svg-icon="channels" aria-label="channels"></md-icon>

				<div flex layout="column">
					<h3>No hay ningun Canal guardado, puedes <span class="blueVC-color" ng-click="openFab()">crear el primero ahora</span></h3>
					<p>
						Recuerda que necesitarás al menos tener creada una regla por cada canal que actives en el ContactNet
						<br>
						A continuación le recordamos los canales que tiene contratados
					</p>
				</div>

				<div flex class="channels-section" layout="row" layout-align="space-between">
					<div flex="20" layout="column" >
						<md-icon class="big-icon" md-svg-icon="phone" aria-label="phone"></md-icon>
						<p>Voz</p>
						<a class="blueVC-color">Contratar</a>
					</div>

					<div flex="20" layout="column" >
						<md-icon class="big-icon blueVC-color" md-svg-icon="message" aria-label="message"></md-icon>
						<p>Chat</p>
					</div>

					<div flex="20" layout="column" >
						<md-icon class="big-icon blueVC-color" md-svg-icon="mail" aria-label="mail"></md-icon>
						<p>Mail</p>
					</div>

					<!-- <div flex="15" layout="column" >
						<md-icon class="big-icon" md-svg-icon="twitter" aria-label="mail"></md-icon>
						<p>Twitter</p>
						<span class="md-caption">Próximamente<span>
					</div> -->
				</div>

			</div>

		</div>


		<div layout="row" layout-padding layout-align="space-around" ng-if="loading" flex layout-fill>
			<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="80"></md-progress-circular>
		</div>

	</section>

</div>
