<div id="repos" class="cardsLayout" layout="row" layout-fill layout flex layout-align="center">

	<section flex>

		<div ng-repeat="(k,v) in repos" class="md-item md-whiteframe-z1" ng-class="{'open-item': v.openCard}">
			<md-list-item class="item" flex aria-label="row" md-ink-ripple class="md-clickable" ng-click="open(k)">
				<md-icon md-svg-icon="{{v.icon}}" aria-label="Open Chat" class="startIcon"></md-icon>
				<div flex ng-class="{'hText' : v.downloadedData}">{{v.title}}</div>
				<span flex></span>
			</md-list-item>

			<md-progress-linear md-mode="indeterminate" ng-if="v.openCard && !v.downloadedData"></md-progress-linear>

			<div class="item-card" ng-if="v.openCard"  layout="column" layout-fill>
				<div layout-xs="column" layout-gt-xs="row" layout-padding ng-show="v.downloadedData">

					<cn-repo-qualifications flex ng-if="k === 'qualifications'" card="v" downloaded-data="v.downloadedData"></cn-repo-qualifications>
					<cn-repo-skills flex ng-if="k === 'skills'" card="v" downloaded-data="v.downloadedData"></cn-repo-skills>
					<cn-repo-categorizations flex ng-if="k === 'categorizations'" card="v" downloaded-data="v.downloadedData"></cn-repo-categorizations>
					<cn-repo-pause-states flex ng-if="k === 'pause_states'" card="v" downloaded-data="v.downloadedData"></cn-repo-pause-states>


				</div>

			</div>

		</div>


	</section>

</div>
