<md-list-item ng-repeat="(k,v) in contactNets | filter:{channels: {$: channelId}}">
  <md-checkbox ng-model="v.selected" ng-change="selectCN(v)"></md-checkbox>
  <md-button aria-label="Open menu" class="md-icon-button" ng-click="moveContactNet(v, true)">
    <md-icon md-menu-origin md-svg-icon="arrow_upward"></md-icon>
  </md-button>
  <md-button aria-label="Open menu" class="md-icon-button" ng-click="moveContactNet(v, false)">
    <md-icon md-menu-origin md-svg-icon="arrow_downward"></md-icon>
  </md-button>
  <p>{{v.description}}</p>
  <span flex></span>
	<md-icon style="margin: auto 10px;" md-svg-icon="phone" aria-label="Open Chat" ng-class="{'greenVC-color': v.channels['1']}"></md-icon>
	<md-icon style="margin: auto 10px;" md-svg-icon="message" aria-label="Open Chat" ng-class="{'greenVC-color': v.channels['2'] }"></md-icon>
	<md-icon style="margin: auto 10px;" md-svg-icon="mail" aria-label="Open Chat" ng-class="{'greenVC-color': v.channels['3'] }"></md-icon>
</md-list-item>
