cn-repo-skills{
	.md-select{
		margin-bottom: 24px !important;	
	}
	.border-container{
    padding: 6px 14px;
    margin-bottom: 14px;
    border: 1px solid #ccc;
  }

  .no-items{
  	text-align: center;
  	min-height: 200px;
  }

  
}