<div id="timeline" layout="row" layout-fill layout flex>
	<md-content layout="row" layout-align="center" flex>

		<section flex>

			<div ng-if="contactNetsService.contactNets.length" class="md-item md-whiteframe-z1" ng-repeat="(k, v) in contactNetsService.contactNets track by $index" ng-class="{'open-item': v.openCard}">
				<md-list-item ng-show="v.id" class="item" flex aria-label="row" md-ink-ripple class="md-clickable" cnContactNetInfo="{{v}}" cn-open-contact-nets>
					<div flex>ASDGGGG | {{v.description}}</div>
					<span flex></span>
					<md-icon md-svg-icon="phone" aria-label="Open Chat" class="md-hue-3"></md-icon>
					<md-icon md-svg-icon="mail" aria-label="Open Chat" class="md-hue-3"></md-icon>
					<md-icon md-svg-icon="message" aria-label="Open Chat" class="md-hue-3"></md-icon>

					<md-menu class="md-secondary" >
	          <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
	            <md-icon md-menu-origin md-svg-icon="more_vert"></md-icon>
	          </md-button>
	          <md-menu-content width="4" >
	            <md-menu-item >
	              <md-button ng-click="">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-icon="mail"></md-icon>
	                    <p flex>Editar</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	            <md-menu-item >
	              <md-button ng-click="">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-icon="mail"></md-icon>
	                    <p flex>Eliminar</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	          </md-menu-content>
	        </md-menu>

				</md-list-item>

				<md-progress-linear md-mode="indeterminate" ng-if="v.openCard && !v.contactNetInfo"></md-progress-linear>

				<div class="item-card" ng-if="v.contactNetInfo" layout="column">
					<div layout-xs="column" layout-gt-xs="row" layout-padding ng-show="!loadingCards.length">

						<div flex layout="column" layout-align="space-between">
							<div layout layout="row" layout-align="start center" layout-padding layout-margin>
					      <input placeholder="Nombre del ContactNet" ng-model="v.description">
					      <div flex layout="row" layout-align="end">
					      	<div flex layout="row">
					      		<span flex="10">1</span>
					      		<span flex>Configurar Canales</span>
					      	</div>
					      	<div flex layout="row">
					      		<span flex="10">2</span>
					      		<span flex>Estrategia</span>
					      	</div>
					      	<div flex layout="row">
					      		<span flex="10">3</span>
					      		<span flex>BackOffice</span>
					      	</div>
					      </div>
							</div>
							<div cn-contact-net-voice-card-channel-configuration class="md-item md-whiteframe-z1" ng-model="cnContactNetVoiceCardChannelConfiguration.openCard" ng-class="{'openInnerCard md-whiteframe-z3': cnContactNetVoiceCardChannelConfiguration.openCard}"></div>
							<div cn-contact-net-chat-card-channel-configuration class="md-item md-whiteframe-z1" ng-model="cnContactNetChatCardChannelConfiguration.openCard" ng-class="{'openInnerCard md-whiteframe-z3': cnContactNetChatCardChannelConfiguration.openCard}"></div>

							<div>
								<md-button class="md-hue-2">Siguiente</md-button>
							</div>
							
						</div>

					</div>
				</div>

			</div>


			<div ng-if="!contactNetsService.contactNets.length" class="md-whiteframe-z1 empty-section" layout-padding layout="row" layout-align="center">
				<div flex="80" layout="column">
					<md-icon class="planet-size-icon" style="color:#f5a623;" md-svg-icon="contactnets" aria-label="rules"></md-icon>

					<div flex layout="column">
						<h3>No hay ningun ContactNet guardado, puedes <span class="blueVC-color">crear el primero ahora</span></h3>
						<p>
							Recuerda que necesitarás al menos tener creada una regla por cada canal que actives en el ContactNet
							<br> 
							A continuación le recordamos los canales que tiene contratados
						</p>
					</div>

					<div flex class="channels-section" layout="row" layout-align="space-between">
						<div flex="15" layout="column" >
							<md-icon class="big-icon" md-svg-icon="phone" aria-label="phone"></md-icon>								
							<p>Voz</p>
							<a class="blueVC-color">Contratar</a>
						</div>

						<div flex="15" layout="column" >
							<md-icon class="big-icon greenVC-color" md-svg-icon="message" aria-label="message"></md-icon>								
							<p>Chat</p>
						</div>

						<div flex="15" layout="column" >
							<md-icon class="big-icon greenVC-color" md-svg-icon="mail" aria-label="mail"></md-icon>								
							<p>Mail</p>
						</div>

						<div flex="15" layout="column" >
							<md-icon class="big-icon" md-svg-icon="mail" aria-label="mail"></md-icon>								
							<p>Twitter</p>
							<span class="md-caption">Próximamente<span>
						</div>
					</div>	

				</div>
								
			</div>

		</section>

	</md-content>

</div>
