<div id="sectionContactNets" class="cardsLayout" layout="row" layout flex layout-align="center">

		<section flex>

			<md-whiteframe class="md-whiteframe-z2 filterSearch" flex layout cn-scroll>
				<div flex layout="row" layout-align="center center">
					<md-icon md-svg-icon="search" aria-label="search" class="md-hue-3"></md-icon>
					<input type="text" ng-model="filterSearch.description" placeholder="Buscar" flex/>
				</div>
			</md-whiteframe>

			<div ng-if="contactNetsService.contactNets.length" class="md-item md-whiteframe-z1" ng-repeat="(k, v) in contactNetsService.contactNets | filter:filterSearch" ng-class="{'open-item': v.openCard}" ng-init="step=1">
				<md-list-item ng-show="v.id" class="item" flex aria-label="row" md-ink-ripple class="md-clickable" cn-contact-net-info="v" cn-open-contact-nets>
					<div flex ng-class="{'hText' : v.contactNetInfo}">{{v.description}}</div>
					<span flex></span>
					<md-icon md-svg-icon="phone" aria-label="Open Chat" ng-class="{'greenVC-color' : v.channels[1] == 1}" class="md-hue-3"></md-icon>
					<md-icon md-svg-icon="mail" aria-label="Open Chat" ng-class="{'greenVC-color' : v.channels[2] == 2}" class="md-hue-3"></md-icon>
					<md-icon md-svg-icon="message" aria-label="Open Chat" ng-class="{'greenVC-color' : v.channels[3] == 3}" class="md-hue-3"></md-icon>

					<md-menu class="md-secondary" >
	          <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
	            <md-icon md-menu-origin md-svg-icon="more_vert"></md-icon>
	          </md-button>
	          <md-menu-content width="4" >
	            <md-menu-item >
	              <md-button ng-click="">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-icon="edit"></md-icon>
	                    <p flex>Editar</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	            <md-menu-item >
	              <md-button ng-click="">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-icon="delete"></md-icon>
	                    <p flex>Eliminar</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	          </md-menu-content>
	        </md-menu>
				</md-list-item>

				<md-progress-linear md-mode="indeterminate" ng-if="v.openCard && !v.contactNetInfo"></md-progress-linear>

			<div class="item-card" ng-if="v.contactNetInfo" layout="column">
				<div layout-xs="column" layout-gt-xs="row" layout-padding ng-show="!loadingCards.length" class="md-body-1">

					<div class="cardContainer" flex layout="column" layout-align="space-between">
						<div layout layout="row" layout-align="start center" layout-margin class="md-hue-3">
							<div flex layout="row" layout-align="center center">
								<md-icon class="md-hue-3" md-svg-icon="edit"></md-icon>
								<input placeholder="Nombre del ContactNet" ng-model="v.description" flex>
							</div>
				      <div flex="60" layout="row" layout-align="end center">
				      	<div flex layout="row" layout-align="center center" ng-class="{'activeIndex' : step==1}">
				      		<span layout-margin>1</span>
				      		<span>Configurar Canales</span>
				      	</div>
				      	<div flex layout="row" layout-align="center center" ng-class="{'activeIndex' : step==2}">
				      		<span layout-margin>2</span>
				      		<span>Supervisores</span>
				      	</div>
				      	<div flex layout="row" layout-align="center center" ng-class="{'activeIndex' : step==3}">
				      		<span layout-margin>3</span>
				      		<span>BackOffice</span>
				      	</div>
				      </div>
						</div>
						<div ng-if="step == 1">
							<div cn-contact-net-channels-config contactnet="v" layout="column"></div>
						</div>
						<div ng-if="step == 2">
							<div cn-supervisors-config contactnet="v" layout="column"></div>
						</div>

						<div layout="row">
							<div layout="row" layout-align="start" flex>
								<md-button ng-show="step > 1" layout-align="start" ng-click="step = step-1" class="md-hue-2">
									Anterior
							</md-button>
							</div>
							<div layout="row" layout-align="end" flex>
								<md-button ng-show="step < 3" ng-click="step = step+1" class="md-hue-2">
									Siguiente
								</md-button>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>


		<div ng-if="!contactNetsService.contactNets.length" class="md-whiteframe-z1 empty-section" layout-padding layout="row" layout-align="center">
			<div flex="80" layout="column">
				<md-icon class="planet-size-icon" style="color:#f5a623;" md-svg-icon="contactnets" aria-label="rules"></md-icon>

				<div flex layout="column">
					<h3>No hay ningun ContactNet guardado, puedes <span class="blueVC-color">crear el primero ahora</span></h3>
					<p>
						Recuerda que necesitarás al menos tener creada una regla por cada canal que actives en el ContactNet
						<br>
						A continuación le recordamos los canales que tiene contratados
					</p>
				</div>

				<div flex class="channels-section" layout="row" layout-align="space-between">
					<div flex="20" layout="column" >
						<md-icon class="big-icon" md-svg-icon="phone" aria-label="phone"></md-icon>
						<p>Voz</p>
						<a class="blueVC-color">Contratar</a>
					</div>

					<div flex="20" layout="column" >
						<md-icon class="big-icon blueVC-color" md-svg-icon="message" aria-label="message"></md-icon>
						<p>Chat</p>
					</div>

					<div flex="20" layout="column" >
						<md-icon class="big-icon blueVC-color" md-svg-icon="mail" aria-label="mail"></md-icon>
						<p>Mail</p>
					</div>

					<!-- <div flex="15" layout="column" >
						<md-icon class="big-icon" md-svg-icon="mail" aria-label="mail"></md-icon>
						<p>Twitter</p>
						<span class="md-caption">Próximamente<span>
					</div> -->
				</div>

			</div>

		</div>

	</section>

</div>
