.dropdownClick {
	outline: 0;
	cursor: pointer;
	>div {
		margin-left: 12px;
	}
}

.activeIndex {
	>span:first-child {
		border: 0!important;
		background: #FFF;
	}
}

.audioPlayer {
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.4);
	margin: 0 1em;
	>button {
		background: grey;
		transform: scale(0.8);
	}
	>p {
		padding-left: 0.5em;
	}
}