

<div flex layout="column" layout-align="space-between">
    <md-content class="md-padding autocomplete" layout="column">
      <md-chips
        ng-model="ngModel"
        placeholder="Selecciona los casos"
        delete-button-label="Remove category"
        secondary-placeholder="+cualificación">
        <md-chip-template>
          <strong>{{$chip.label}}</strong>
        </md-chip-template>
        <md-autocomplete
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-items="item in categories | filter: {label: searchText}"
            md-item-text="item.label"
            placeholder="Selecciona los casos">
          <span md-highlight-text="ctrl.searchText">{{item.label}}</span>
        </md-autocomplete>
      </md-chips>


      <md-list class="fixedRows" layout="row" layout-wrap layout-align="space-between">
        <md-subheader flex="100" class="md-no-sticky">Casos disponibles</md-subheader>
        <md-list-item class="md-2-line contact-item" flex="40" flex-sm="30" flex-md="25" flex-lg="20" layout-padding layout-margin ng-repeat="(k, v) in categories" ng-class="{'disabled': (ngModel | filter:{id: v.id}:true).length }" ng-click="actionCard(v)">
          <div class="md-list-item-text compact">
            <h3>{{v.label}}</h3>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
</div>



