<!DOCTYPE html>
<html ng-app="virtual-center">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
	<!-- <link rel="icon" type="image/png" href=".ico"> -->
	<title>Virtual Center</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">


	<link href='css/styles.min.css' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="appController" layout layout="column" role="application" ng-cloak ng-show="menu">

  <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-closed" md-is-locked-open="$mdMedia('gt-xs') && isOpenLeft()" md-component-id="left">
      <md-content flex>
        <ul layout="column" flex class="layoutMenu">
          <li ng-repeat="(k,v) in menu" layout="column" layout-align="center center">
            <div layout="row" ng-show="v.href" layout-align="center center">
              <md-icon md-svg-icon="{{v.icon}}" aria-label="Alarm Icon"></md-icon>
              <md-button ng-href="{{v.href}}" ng-click="open = !open" flex>
                {{v.name}}
              </md-button>
            </div>
            <div layout="row" ng-show="!v.href" layout-align="center center">
              <md-icon md-svg-icon="{{v.icon}}" aria-label="Alarm Icon"></md-icon>
              <md-button ng-click="open = !open" flex>
                {{v.name}}
              </md-button>
              <div ng-class="{'arrowDown': open, 'arrowUp' : !open}"></div>
            </div>
            <ul ng-show="v.views && open">
                <li ng-repeat="(kk,vv) in v.views">
                  <md-button cn-navigate="{{vv.uri}}">
                    {{vv.name}}
                  </md-button>
                  <md-button ng-show="v.href" ng-href="{{v.href}}" ng-click="open = !open">
                    {{v.name}}
                  </md-button>
                </li>
              </ul>
          </li>
        </ul>
      </md-content>
    </md-sidenav>
  <md-content role="main" layout="column" flex>
    <md-toolbar class="masthead md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
          <md-icon md-svg-icon="menu" aria-label="Alarm Icon"></md-icon>
        </md-button>
      </div>

      <h1 layout layout-align="start center" class="sectionTitle md-headline">
        {{environment.actualSection}}
      </h1>

      <md-tabs md-selected="selectedIndex" flex class="topTabs md-hue-2" md-no-ink>
        <md-tab ng-repeat="(k,v) in menu[2].views[5].views" ng-click="cnNavigate.path(v.uri)">
          <md-tab-label layout="row">
            <md-icon md-svg-icon="{{v.uri}}" aria-label="{{v.name}} Icon"></md-icon>
            <md-button class="md-button disable-hover" md-no-ink aria-label="{{v.name}} Button">
              <span>{{v.name}}</span>
            </md-button>
          </md-tab-label>
        </md-tab>
      </md-tabs>


			<md-fab-speed-dial md-direction="down" md-open="fab.isOpen" class="md-scale fabButtonCreate">
			  <md-fab-trigger>
			    <md-button aria-label="trigger" ng-click="fab.trigger.action" class="md-fab md-accent">
						<md-icon md-svg-icon="{{fab.trigger.icon}}"></md-icon>
					</md-button>
			  </md-fab-trigger>
			  <md-fab-actions>
					<div ng-if="fab.actions.length" ng-repeat="(k,v) in fab.actions">
						<md-button aria-label="button" ng-click="v.action()" class="md-fab md-accent md-raised md-mini">
							<md-icon md-svg-icon="{{v.icon}}"></md-icon>
						</md-button>
					</div>
			  </md-fab-actions>
			</md-fab-speed-dial>

    </md-toolbar>

    <section role="view" layout layout="column" ng-class="route" flex ui-view></section>

  </md-content>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<script src="js/app.min.js"></script>
</body>
</html>
