<!DOCTYPE html>
<html ng-app="virtual-center">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
	<!-- <link rel="icon" type="image/png" href=".ico"> -->
	<title>Virtual Center</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">


	<link href='css/styles.min.css' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="appController" layout="row" role="application" ng-cloak>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-closed" md-is-locked-open="$mdMedia('gt-xs') && isOpenLeft()" md-component-id="left">
      <md-content layout-padding>
        <ul>
          <li ng-repeat="(k,v) in menu">
            <md-button ng-click="open = !open">
              {{v.name}}
            </md-button>
            <ul ng-show="v.views && open">
                <li ng-repeat="(kk,vv) in v.views">
                  <md-button cn-navigate="{{vv.uri}}">
                    {{vv.name}}
                  </md-button>
                </li>
              </ul>
          </li>
        </ul>
      </md-content>
    </md-sidenav>
  <md-content role="main" flex layout="column" layout-align="start center">
    <md-toolbar class="masthead md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <md-icon md-svg-icon="menu" aria-label="Alarm Icon"></md-icon>
          </md-button>
        </div>

        <h1 layout layout-align="start center" class="sectionTitle md-headline">
          Contact Nets
        </h1>

        <md-tabs md-selected="selectedIndex" flex class="topTabs md-hue-2">
          <md-tab ng-repeat="(k,v) in menu[0].views" ng-click="cnNavigate.path(v.uri)">
            <md-tab-label layout="row">
              <md-icon md-svg-icon="{{v.uri}}" aria-label="{{v.name}} Icon"></md-icon>
              <md-button md-no-ink class="md-button" aria-label="{{v.name}} Button">
                <span> {{v.name}}</span>
              </md-button>
            </md-tab-label>
          </md-tab> 
           <!-- <md-tab label="Canales" ng-click="cnNavigate.path('channels')"></md-tab>
           <md-tab label="Reglas" ng-click="cnNavigate.path('rules')"></md-tab>   -->
        </md-tabs>

        <md-button class="md-fab fabButtonCreate" aria-label="contactNetsService.contactNets" cn-create-contact-net>
          <md-icon md-svg-icon="add"></md-icon>
          <md-tooltip md-direction="top">
            Add
          </md-tooltip>
        </md-button>

      </md-toolbar>

      <md-content role="view" layout="column" ng-class="route" flex ui-view></md-content>
  </md-content>



<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<script src="js/app.min.js"></script>
</body>
</html>