<div id="timeline" layout="row" layout-fill layout flex style="overflow-y: scroll;">
	<md-content layout="row" layout-align="center" flex>

		<section flex>

				<div class="md-item md-whiteframe-z1" ng-repeat="(k, v) in contactNets track by $index" ng-class="{'open-item': v.openCard}">

					<md-list-item ng-show="v.id" ng-click="openContactNet(v)" class="item" flex aria-label="row">
						<span flex ng-if="vv.notifications == '1' && !openedCards.contains(vv)">{{v.description}}</span>
						<div flex ng-if="vv.notifications != '1' || openedCards.contains(vv)">{{v.description}}</div>
					</md-list-item>

					<md-progress-linear md-mode="indeterminate" ng-if="v.openCard && !v.contactNetInfo"></md-progress-linear>

					<div class="item-card" ng-if="v.contactNetInfo" layout="column" layout-fill >
						<div layout-xs="column" layout-gt-xs="row" layout-padding ng-show="!loadingCards.length">

							<div flex style="overflow-y: auto;" layout="column" layout-align="space-between">
								<div style="overflow-y:auto;">
									<p ng-repeat="noti in openCardData.notifications | orderBy">
										<b>noti.ev_date</b> - noti.ev_comment
									</p>	
								</div>
								<div>
									<md-button class="md-accent md-hue-2" ng-click="$clNavigate.designEditor(vv.ev_design_id)">Editar</md-button>
								</div>
								
							</div>

						</div>
					</div>

				</div>

		</section>

	</md-content>


</div>


