$blueVC: #3cace1;
$greenVC: #6b9e30;
$smokeText: #9b9b9b;

body {
  background: rgba(0,0,0,.04);
}

body {
	>md-sidenav {
    -webkit-transition : none!important;
    -moz-transition : none!important;
    -o-transition : none!important;
		transition: none!important;
		background: transparent;

	}
	>md-backdrop.md-sidenav-backdrop {
		z-index: -1!important;
		display: none!important;
	}
}

.md-caption{
  color: $smokeText;
}

.topTabs{
  md-tabs-canvas{
    height: 60px;

    md-ink-bar{
      bottom: -12px;
      background: white;
    }
  }
}

.layoutMenu {
  padding: 0;
  margin: 0;
  >li {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    // text-align: left;
    >div {
      width: 75%;
      >* {
        text-align: left;
        text-transform: none;
        font-weight: 400;
      }
    }
    >ul {
      padding-left: 0px;
      >li {
        a, button {
          text-align: left;
          text-transform: none;
          font-weight: 400;
        }
      }
    }
  }
}


.arrowDown {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
}
.arrowUp {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid black;
}

[role="main"] {
	background: transparent;
	>[ui-view] {
		overflow: visible;
		background: 0 0;
    padding: 30px 0 0;
    // opacity: 1;
    // -webkit-transform:translate(0, 0);
    // -moz-transform:translate(0, 0);
    // -o-transform:translate(0, 0);
    // transform:translate(0, 0);
    // z-index: 1;
    will-change: auto;
	}
}

@media (min-width: 768px){
	.masthead {
    position: relative;
    margin-bottom: -115px;
    min-height: 308px;
    height: 308px;
    z-index: 1;
    >md-tabs {
    	max-width: 75%;
    	left: 50%;
    	-webkit-transform:translate(-50%);
		  -moz-transform:translate(-50%);
		  transform:translate(-50%);
    	padding: 30px 1.5rem 0;
    	.md-tab {
    		text-transform: none;
    	}
    }
    .sectionTitle {
	    width: 100%;
	    max-width: 75%;
	    margin: 0 auto;
	    font-weight: 400;
      padding: 0 1.5rem;
      font-size: 34px;
      color: #9b9b9b;
    }
  }
}

// .well[ui-view]{
//  height: 65px;
// }

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  width: 100%;
  z-index: 1;
  -webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transition-delay: 650ms;
  -moz-transition-delay: 650ms;
  -o-transition-delay: 650ms;
  transition-delay: 650ms;
  -webkit-transform:translate(0, 100px);
  -moz-transform:translate(0, 100px);
  -o-transform:translate(0, 100px);
  transform:translate(0, 100px);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:translate(0, 0);
  -moz-transform:translate(0, 0);
  -o-transform:translate(0, 0);
  transform:translate(0, 0);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate(0, 0);
  -moz-transform:translate(0, 0);
  -o-transform:translate(0, 0);
  transform:translate(0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate(0, 100px);
  -moz-transform:translate(0, 100px);
  -o-transform:translate(0, 100px);
  transform:translate(0, 100px);
}

.disable-hover {
  pointer-events: none;
}


.planet-size-icon{
  width: 130px;
  height: 130px;
}

.big-icon{
  width: 52px;
  height: 52px;
}

.blueVC-color{
  color: $blueVC;
  outline: none;
}

.greenVC-color{
  color: $greenVC;
  outline: none;
}
